<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Select Service</title>
</head>

<body>

<form method='post'>
    <div class="form-group">
        <label>
            Skin type:<br>
            <select name='skintype'>
                <option value='oily'>Oily</option>
                <option value='combination'>Combination</option>
                <option value='normal'>Normal</option>
                <option value='dry'>Dry</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Manicure or Pedicure?<br>
            <select name='manipedi'>
                <option value='manicure'>Manicure</option>
                <option value='pedicure'>Pedicure</option>
            </select>
        </label><br>
    </div>
    <div class="form-group">
        <input type='submit' value='Submit'>
    </div>
</form>
</div>

</body>
</html>